body {
    font-family: DejaVu Sans, Arial, sans-serif;
    font-size: 75%;
}
body p {
    margin: 1em;
}
legend {
    font-weight: bold;
}
#site {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 28em;
    white-space: nowrap;
}
.site {
    font-weight: bold;
}
select {
    font-family: DejaVu Sans, Arial, sans-serif;
    width: 9em;
    color: #444;
}
select:hover {
    color: #000;
}
select:disabled {
    color: #aaa;
}
fieldset {
    border: 0;
}
dl {
    margin: 0;
}
dt {
    display: inline-block;
    width: 15em;
}
dd {
    display: inline-block;
    margin: 0.4em;
    width: 9em;
}
img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4em;
}
#clearSettings {
    display: block;
    margin: 0 auto;
}
#contentSettings dt {
    padding-left: 24px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
}
#contentSettings label:hover {
    text-decoration: underline;
    cursor: pointer;
}
#contents-settings-popup {
    width: 30em;
}
#config-link {
    line-height: 19px;
    text-align: center;
    color: #15c;
}
#config-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#contents-settings-reborn-page {
    width: 35em;
    max-height: 640px;
}
#contents-settings-reborn-page label.header {
    font-size: 1.2em;
    padding: 0.4em 0;
    display: block;
}
#contents-settings-reborn-page label.header:hover {
    background: #e4ecf7;
}
#contents-settings-reborn-page input.header {
    display: none;
}
#contents-settings-reborn-page input.header:checked + label {
}
#contents-settings-reborn-page input.header ~ div.rules {
    transition: max-height 0.2s ease-in-out,box-shadow 0.2s linear;
    overflow: hidden;
    line-height: 1.6em;
    max-height: 0;
}
#contents-settings-reborn-page input.header ~ div.rules * {
}
#contents-settings-reborn-page input.header:checked ~ div.rules {
    max-height: 640px;
}
#contents-settings-reborn-page div.rules {
}
